@font-face {
	font-family: 'ABCDiatype-Regular';
	src: url("/assets/fonts/ABCDiatypeMono-Regular.woff") format("woff");
	src: url("/assets/fonts/ABCDiatypeMono-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ABCDiatype-Medium';
	src: url("/assets/fonts/ABCDiatypeMono-Medium.woff") format("woff");
	src: url("/assets/fonts/ABCDiatypeMono-Medium.woff2") format("woff2");
	font-weight: bold;
	font-style: bold;
}

html,
body {
	margin: 1rem;
    font-family: 'ABCDiatype-Regular';
}

/* body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1b1b1b;
} */

#input {
  font-family: 'ABCDiatype-Regular';
}

#submit {
  font-family: 'ABCDiatype-Regular';
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 10em;
    flex-direction: row;
}

button {
    border-radius: 25px;
    font-size: 2em;
}